#form {
    width : 100%;
    padding :1rem 0;
}

.form-header {
    width : 100%;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}
#contact-form {
    background-color: rgb(236,236,236);
    border : 2px solid #000000;
    width : 50%;
    margin :0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label,input,select,textarea {
    padding: 0.5rem;
    width: 90%;
}

textarea {
    resize: none;
    font-size: 1rem
}

input:not(:placeholder-shown){
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
}
input:requird {
    border: 1px solid rgb(6,18190);
    box-shadow:1px 1px 4px 4px rgb(110,155,238);
}

input[type = submit]{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 20%;
    border-radius: 10px;
    background-color: #2426aa;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

input:not(:placeholder-shown){
    padding: 1rem 0.5rem;
    font-size: 1.25;
}

input:required {
    border: 1px solid rgb(6,18,190);
    box-shadow: 1px 1px 4px 4px rgb(110, 115, 238);
}

label {
    font-size: 1rem;
    font-weight: bold;
}